{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div>
  <div class="card">
    <blockquote class="blockquote">
      <p><b> Random quote:</b> {{ random_quote }}</p>
    </blockquote>
  </div>
  <h3 class="mt-4">Last posts:</h3>
  <div class="row">
    <div class="leftcolumn">
      {% for post in posts reversed %}
      <div class="card">
        <a
          style="text-decoration: none; color: black"
          href="/post/{{ post.id }}"
        >
          <h2>{{ post.title }}</h2>
          <h5>{{ post.created_at }}</h5>
          <p>{{ post.body|truncatewords:5 }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
