{% extends "base.html" %} {% block title %}Posts{% endblock %} 

{% block content %}
<div class="card">
  <div class="row">
    <div class="col-md-6">
      <form class="form-inline" method="GET" action="{% url 'posts' %}">
        <div class="input-group">
          <input type="text" class="form-control" name="q" placeholder="Search..." value="{{ query }}" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
      
      <p>
        Sort by:
        <a href="{% url 'posts' %}?q={{ query }}">Default</a>
    
        <a href="{% url 'posts' %}?q={{ query }}&sort=title">Title</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="leftcolumn">
    {% for post in posts reversed %}
    <div class="card">
      <a style="text-decoration: none; color: black" href="/post/{{ post.id }}">
        <h2>{{ post.title }}</h2>
        <h5>{{ post.created_at }}</h5>
        <p>{{ post.body|truncatewords:5 }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
